.c-MapKey {
  display: flex;
  width: 100%;
  margin-top: 20px;

  &__keyColWrap{
    min-width: 30px;
  }

  .key-col{
    //width: 47.5%;
    //border: 1px red dotted;
    display: flex;
    flex-direction: column;

    &:nth-child(1){

    }

    &:nth-child(2){
      margin-left: 5%;
    }

    >div{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  .key-color{
    width: 13px;
    height: 13px;
    display: block;
    border-radius: 13px;
    margin-right: 10px;

    &.key-color--darkest{
      background-color: #000000;
    }
    &.key-color--darker{
      background-color: #333131;
    }
    &.key-color--dark{
      background-color: #595959;
    }
    &.key-color--light{
      background-color: #828282;
    }
    &.key-color--lighter{
      background-color: #BABABA;
    }
    &.key-color--lightest{
      background-color: #E0E0E0;
    }

  }
}
