.v-input__slot{
    background: #2ECC40;
}

.c-Form--CTA {
    margin: 50px auto;

    .c-Form__title {
        margin-bottom: 50px;
        font-size: 12px;
    }
    .c-Button {
        margin-top: 30px;
        padding: 15px 90px;
        font-size: 14px;
    }
    .marketing{
        //background: yellow;
        padding: 3px;
        .v-input{
            //background: purple;
        }
        label {//@TODO!!! - why isn't this selector working
            //background: blue;
            margin-left: 20px !important;
            margin-top: -2px;
            padding: 40px;
        }
    }
}
