

$resolution-range-bottom: map-get($breakpoints, small);
$resolution-range-top: map-get($breakpoints, xxlarge);

@function get-linear-size($mobile-size, $desktop-size) {

    $a: ($desktop-size - $mobile-size) / ( $resolution-range-top - $resolution-range-bottom );
    $b: -$a * $resolution-range-bottom;

    @return calc(#{$a} * 100vw + #{$b + $mobile-size});
}

@mixin v-spacing($field, $mobile-size, $desktop-size) {

    #{$field}: get-linear-size($mobile-size, $desktop-size);

    @include breakpoint( medium ) {
        #{$field}: $desktop-size;
    }

    @include breakpoint( small down ) {
        #{$field}: $mobile-size;
    }
}

// Margin Top
.mt20 { margin-top: 20px; }
.mt70 { margin-top: 70px; }
.mt100 { margin-top: 100px; }

// Margin Bottom
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb50 { @include v-spacing(margin-bottom, 25px, 50px); }
.mb100 { margin-bottom: 100px; }

// Padding
.p100 {
    @include v-spacing(padding, 20px, 100px);
}

.p70 {
    @include v-spacing(padding, 35px, 70px);
}

// Padding Top
.pt30 { @include v-spacing(padding-top, 15px, 30px); }
.pt70 { @include v-spacing(padding-top, 35px, 70px); }
.pt100 { @include v-spacing(padding-top, 50px, 100px); }

// Padding Bottom
.pb30 { @include v-spacing(padding-bottom, 15px, 30px); }
.pb70 { @include v-spacing(padding-bottom, 35px, 70px); }




.left-gutter{
    @include xy-gutters($gutter-position: left);
}

.right-gutter{
    @include xy-gutters($gutter-position: right);
}

.left-gutter-pad{
    @include xy-gutters($gutter-position: left, $gutter-type: padding);
}

.right-gutter-pad{
    @include xy-gutters($gutter-position: right, $gutter-type: padding);
}

.right-gutter-escape {
    margin-right: -0.9375rem;//@TODO - use var here
}

.left-gutter-pos {
    @include breakpoint(medium) {
        margin-right: (map_get($grid-margin-gutters, 'medium') / 2);
    }
    @include breakpoint(large) {
        margin-right: (map_get($grid-margin-gutters, 'large') / 2);
    }
    @include breakpoint(small) {
        margin-right: (map_get($grid-margin-gutters, 'small') / 2);
    }
}
